<?php

// float numbers need to be presented C-style
setlocale(LC_NUMERIC, 'C');

#-----------------------------------------------------------------------------------------------------------------------
# general settings

$aConfig['MODULE']['Idolon'] = array();

// cache dir
$sIDOLON_CACHE_PATH = $aConfig['MVC_CACHE_DIR'] . '/Idolon/';

// how many variations of an image should be stored for maximum
$iIDOLON_MAX_CACHE_FILES_FOR_IMAGE = 10;

// if activated, an image cannot resize to higher values than its dimensions, but only to lower ones
// true: prevents resizing to higher x or y values than original has
$bIDOLON_PREVENT_OVERSIZING = true;

#-----------------------------------------------------------------------------------------------------------------------
# token

// Token "@image"
// This is the string directly located after domain which indicates an image request
// e.g. /@image/screenshot/png/200/100/1/
// Here in this example, "@image" ist the token
// Idolon will automatically listen for (/@image/) then.
$aConfig['MODULE']['Idolon']['@image'] = array(
    'IDOLON_IMAGE_PATH' => $aConfig['MVC_BASE_PATH'] . '/public/',

    // copy general settings
    'IDOLON_CACHE_PATH' => $sIDOLON_CACHE_PATH,
    'IDOLON_MAX_CACHE_FILES_FOR_IMAGE' => $iIDOLON_MAX_CACHE_FILES_FOR_IMAGE,
    'IDOLON_PREVENT_OVERSIZING' => $bIDOLON_PREVENT_OVERSIZING,
);